<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <div class="editor-panel">
    <app-graph-editor 
      [selectedNode]="selectedNodeForEditor" 
      [selectedEdge]="selectedEdgeForEditor"
      (graphChanged)="handleGraphChanged()"
      (searchSubmitted)="handleSearchSubmitted($event)">
    </app-graph-editor>
  </div>
  <div class="visualization-panel">
    <router-outlet />
  </div>
</div>
